.filter{
    /* width: 11/12; */
    
    align-items: center;
    width:max-content;
    height:max-content;
    /* border: 2px solid red; */
}

 .button{
   
    /* border: 2px solid red; */
    color:rgb(0, 0, 0);
    background-color: rgb(197, 187, 187);
    font-size: large;
    padding: 10px 10px;
    border-radius: 5px;
    opacity: 50%;
    width:200px;
    height:auto; 
    font-size:x-large;
    font-weight: bolder;
    /* row-gap: 20px;
    column-gap: 20px; */
    line-height: 20px;

    /* right: 100px; */
    /* left: ; */
 } 

/* .button{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.filterdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}